{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Document</title>
</head>
<body>
    <aside>
        <a href="/registration">
            <button class="button">Зарегистрироваться</button>
        </a>
        <a href="/login">
            <button class="button">Войти</button>
        </a>
        <span class="registration"></span>
    </aside>

    <h1>Net Shope</h1>

    <div class="grid-container">
        <div class="grid-item">
            <h2>Товар 1</h2>
            <p>Цена: $10</p>
            <button class="buy-button">Купить</button>
        </div>
        <div class="grid-item">
            <h2>Товар 2</h2>
            <p>Цена: $15</p>
            <button class="buy-button">Купить</button>
        </div>
        <div class="grid-item">
            <h2>Товар 3</h2>
            <p>Цена: $20</p>
            <button class="buy-button">Купить</button>
        </div>
        <div class="grid-item">
            <h2>Товар 4</h2>
            <p>Цена: $25</p>
            <button class="buy-button">Купить</button>
        </div>
        <div class="grid-item">
            <h2>Товар 5</h2>
            <p>Цена: $30</p>
            <button class="buy-button">Купить</button>
        </div>
        <div class="grid-item">
            <h2>Товар 6</h2>
            <p>Цена: $35</p>
            <button class="buy-button">Купить</button>
        </div>
    </div>

</body>
</html>